In [ ]:
#No.1 convert temperature from Celsius to Fahrenheit
celcius = int(input("Enter a Number:"))
fahrenheit = (celcius*5/9)+32
print("Temperature in Fahrenheit:",fahrenheit)

Enter a Number:32
Temperature in Fahrenheit: 49.77777777777778

In [ ]:
#No.2 Swap two number
n= int(input("enter first number:"))
p = int(input("enter second number:"))
print("Before Swapping: ",n, p)
temp = int
temp = n
n = p
p = temp
print("after swapping: ",n, p)

enter first number:56
enter second number:34
Before Swapping:  56 34
after swapping:  34 56

In [ ]:
#No.3 check whether a given year is Leap year or not.
year = int(input("Enter a Year:"))
if (year % 400 == 0) and ( year % 100 == 0):
   print (year, " is a leapyear")
elif(year % 4 == 0) and (year % 100 != 0):
   print(year, " is a leapyear")
else:
   print(year," is not a leapyear")

Enter a Year:2024
2024  is a leapyear

In [ ]:
#No.4 display reverse of a number.
n = int(input("Enter a Number:"))
reverse = 0
while (n>0) :
    remainder = n % 10
    reverse = (reverse * 10) + remainder
    n = n // 10
print("Reversed Number is :", reverse)

Enter a Number:3456
Reversed Number is : 6543

In [ ]:
#No.5 find factors of a given number.
n = int(input("Enter a Number:"))
i = int
for i in range (1, n+1) :
 if n % i == 0:
  print(i)

Enter a Number:12
1
2
3
4
6
12

In [ ]:
#No.6 generate prime number series up to n.
n = int(input("Enter a Range:"))
i= int
j = int
for i in range(1, n+1):
    if i > 1:
     for j in range (2,i):
      if(i%j)==0:
        break
     else:
      print(i)

Enter a Range:11
2
3
5
7
11

In [ ]:
#No.7 program which makes use of a function to display all such numbers which are divisible by 7 but are not multiple by 5, between 1000 and 2000.
i= int
list = [i for i in range(1000,2000) if (i % 7 == 0) and (i % 5 != 0)]
print(list, sep=',')

[1001, 1008, 1022, 1029, 1036, 1043, 1057, 1064, 1071, 1078, 1092, 1099, 1106, 1113, 1127, 1134, 1141, 1148, 1162, 1169, 1176, 1183, 1197, 1204, 1211, 1218, 1232, 1239, 1246, 1253, 1267, 1274, 1281, 1288, 1302, 1309, 1316, 1323, 1337, 1344, 1351, 1358, 1372, 1379, 1386, 1393, 1407, 1414, 1421, 1428, 1442, 1449, 1456, 1463, 1477, 1484, 1491, 1498, 1512, 1519, 1526, 1533, 1547, 1554, 1561, 1568, 1582, 1589, 1596, 1603, 1617, 1624, 1631, 1638, 1652, 1659, 1666, 1673, 1687, 1694, 1701, 1708, 1722, 1729, 1736, 1743, 1757, 1764, 1771, 1778, 1792, 1799, 1806, 1813, 1827, 1834, 1841, 1848, 1862, 1869, 1876, 1883, 1897, 1904, 1911, 1918, 1932, 1939, 1946, 1953, 1967, 1974, 1981, 1988]

In [ ]:
#No.8 check whether a number is a palindrome or not.
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

Enter number:343
The number is a palindrome!

In [ ]:
#No.9 check whether a number is perfect number
n = int(input("Enter a Number:"))
sum = 0
for i in range(1,n):
    if(n % i == 0):
        sum = sum + i
if (n==sum):
    print("It is a Perfect Number.")
else:
    print("It is not a Perfect Number.")
#check whether a number is an Amstrong number
n = int(input("Enter a Number: "))
sum = 0
order = len(str(n))
temp = n
while n>0:
    r = n % 10
    sum += r ** order
    n = n // 10
if (temp == sum):
    print("It is an Amstrong Number.")
else:
    print("It is not an Amstrong Number.")

Enter a Number:6
It is a Perfect Number.
Enter a Number: 153
It is an Amstrong Number.

In [ ]:
#N0.10 generate the Fibonacci series up to n.
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 5
Fibonacci sequence:
0
1
1
2
3

In [ ]:
#No.11 print your name
print("Sudipta Dey")

Sudipta Dey

In [ ]:
#No.12 add two number
n1 = int(input("Enter first number:"))
n2 = int(input("Enter second number:"))
sum = n1+n2
print("The sum is: ",sum)

Enter first number:23
Enter second number:12
The sum is:  35

In [ ]:
#No.13 convert temperature from Fahrenheit to celsius
fahrenheit = float(input("Enter a Number:"))
celsius = (fahrenheit-32)/1.8
print("Temperature in Celsius:",celcius)

Enter a Number:104.0
Temperature in Celsius: 32

In [ ]:
#No.14 find Area and Perimeter of a Rectangle
l = float(input("Enter Length: "))
b = float(input("Enter Breadth: "))
area = l*b
perimeter = 2*(l+b)
print("Area: ",area,"and Perimeter: ",perimeter)

Enter Length: 2.3
Enter Breadth: 3.4
Area:  7.819999999999999 and Perimeter:  11.399999999999999

In [ ]:
#No.15 find Area and Perimeter of a Circle
r = float(input("Enter Radius: "))
area = 3.14*r*r
perimeter = 2*3.14*r
print("Area: ",area, "and Perimeter: ",perimeter)

Enter Radius: 3
Area:  28.259999999999998 and Perimeter:  18.84

In [ ]:
#No.16 odd or even
n = int(input("Enter a number: "))
if n%2==0:
  print(n,"is Even!")
else:
  print(n,"is Odd!")

Enter a number: 5
5 is Odd!

In [ ]:
#No.17 positive or negative
n = int(input("Enter a number: "))
if n>0:
  print(n, "is Positive!")
elif n==0:
  print(n, "is Zero!")
else:
  print(n, "is Negative!")

Enter a number: -2
-2 is Negative!

In [ ]:
#No.18 maximum of three numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
if a>=b and a>=c:
  print(a, "is Maximum.")
elif b>=a and b>=c:
  print(b, "is Maximum.")
else:
  print(c, "is Maximum.")

Enter first number: 12
Enter second number: 34
Enter third number: 45
45 is Maximum.

In [ ]:
#No.19 convert Miles to Kilometer
mile = float(input("Enter Mile: "))
km = mile*1.60934
print("Kilometer: ",km)

Enter Mile: 12
Kilometer:  19.31208

In [ ]:
#No.20 Write a program for following grading system. Note: Percentage>=90% : Grade A Percentage>=80% : Grade B Percentage>=70% : Grade C Percentage>=60% : Grade D Percentage>=40% : Grade E Percentage <40%:Grade F
p = float(input("Enter Percentage: "))
if p>=90:
  print("Grade A")
elif p>=80:
  print("Grade B")
elif p>=70:
  print("Grade C")
elif p>=60:
  print("Grade D")
elif p>=40:
  print("Grade E")
else:
  print("Grade F")

Enter Percentage: 78
Grade C