In [ ]:
#No. 1.The following is a list of 10 students ages: ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#I. Sort the list and find the min and max age II. Add the min age and the max age again to the list
#III. Find the median age (one middle item or two middle items divided by two) IV. Find the average age (sum of all items divided by their number )
#V. Find the range of the ages (max minus min) VI. Compare the value of (min - average) and (max - average), use abs() method
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# I. Sort the list and find the min and max age
ages.sort()
min_age = ages[0]
max_age = ages[-1]
print("Sorted ages:", ages)
print("Min age:", min_age)
print("Max age:", max_age)

# II. Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)
print("Ages after adding min and max again:", ages)

# III. Find the median age
ages.sort()
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]
print("Median age:", median_age)

# IV. Find the average age
average_age = sum(ages) / len(ages)
print("Average age:", average_age)

# V. Find the range of the ages
age_range = max_age - min_age
print("Range of ages:", age_range)

# VI. Compare the value of (min - average) and (max - average), use abs() method
min_average_diff = abs(min_age - average_age)
max_average_diff = abs(max_age - average_age)
print("Absolute difference between min age and average:", min_average_diff)
print("Absolute difference between max age and average:", max_average_diff)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Ages after adding min and max again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Average age: 22.75
Range of ages: 7
Absolute difference between min age and average: 3.75
Absolute difference between max age and average: 3.25

In [ ]:
#No.2.Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.
technologies = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']

for tech in technologies:
    print(tech, end=",")

Python,Numpy,Pandas,Django,Flask,

In [ ]:
#No.3.Create fruits, vegetables and animal products tuples. I. Join the three tuples and assign it to a variable called food_stuff_tp.
#II. Change the about food_stuff_tp tuple to a food_stuff_lt list III. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
#IV. Slice out the first three items and the last three items from food_staff_lt list V. Delete the food_staff_tp tuple completely
#3. Create a set given below it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
# A = {19, 22, 24, 20, 25, 26} B = {19, 22, 20, 25, 26, 24, 28, 27} age = [22, 19, 24, 25, 26, 24, 25, 24]
#I. Find the length of the set it_companies II. Add 'Twitter' to it_companies III. Insert multiple IT companies at once to the set it_companies
#IV. Remove one of the companies from the set it_companies V. What is the difference between remove and discard
# I. Create fruits, vegetables, and animal products tuples
fruits = ('guava', 'kiwi', 'avocado')
vegetables = ('cucumbre', 'potato', 'tomato')
animal_products = ('butter', 'chicken', 'milk')

# II. Join the three tuples and assign it to a variable called food_stuff_tp
food_stuff_tp = fruits + vegetables + animal_products
print("Food stuff tuple:", food_stuff_tp)

# III. Change the food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
print("Food stuff list:", food_stuff_lt)

# IV. Slice out the middle item or items from the food_stuff_lt list
n = len(food_stuff_lt)
if n % 2 == 0:
    middle_items = food_stuff_lt[n//2 - 1 : n//2 + 1]
else:
    middle_items = [food_stuff_lt[n//2]]
print("Middle item(s):", middle_items)

# V. Slice out the first three items and the last three items from food_stuff_lt list
first_three_items = food_stuff_lt[:3]
last_three_items = food_stuff_lt[-3:]
print("First three items:", first_three_items)
print("Last three items:", last_three_items)

# VI. Delete the food_stuff_tp tuple completely
del food_stuff_tp

Food stuff tuple: ('guava', 'kiwi', 'avocado', 'cucumbre', 'potato', 'tomato', 'butter', 'chicken', 'milk')
Food stuff list: ['guava', 'kiwi', 'avocado', 'cucumbre', 'potato', 'tomato', 'butter', 'chicken', 'milk']
Middle item(s): ['potato']
First three items: ['guava', 'kiwi', 'avocado']
Last three items: ['butter', 'chicken', 'milk']

In [ ]:
#No.4 From the above sets A and B I. Join A and B II. Find A intersection B III. Is A subset of B IV. Are A and B disjoint sets
# V. Join A with B and B with A VI. What is the symmetric difference between A and B VII. Delete the sets completely
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# I. Join A and B
A_union_B = A.union(B)
print("A union B:", A_union_B)

# II. Find A intersection B
A_intersection_B = A.intersection(B)
print("A intersection B:", A_intersection_B)

# III. Is A subset of B
is_A_subset_of_B = A.issubset(B)
print("Is A a subset of B:", is_A_subset_of_B)

# IV. Are A and B disjoint sets
are_A_and_B_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets:", are_A_and_B_disjoint)

# V. Join A with B and B with A
A_union_B = A.union(B)
B_union_A = B.union(A)
print("A union B:", A_union_B)
print("B union A:", B_union_A)

# VI. What is the symmetric difference between A and B
symmetric_diff = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_diff)

# VII. Delete the sets completely
del A
del B
print("Sets A and B are deleted.")

A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A a subset of B: True
Are A and B disjoint sets: False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Sets A and B are deleted.

In [ ]:
#No.5 Create an empty dictionary called dog.Add name, color, breed, legs, age to the dog dictionary
dog = {}

dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Golden Retriever'
dog['legs'] = 4
dog['age'] = 3

print(dog)

{'name': 'Buddy', 'color': 'Brown', 'breed': 'Golden Retriever', 'legs': 4, 'age': 3}

In [ ]:
#No.6 Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary
#I. Get the length of the student dictionary II. Get the value of skills and check the data type, it should be a list
# III. Modify the skills values by adding one or two skills IV. Get the dictionary keys as a list V. Get the dictionary values as a list
# VI. Change the dictionary to a list of tuples using items() method VII. Delete one of the items in the dictionary VIII. Delete one of the dictionaries
# I. Create the student dictionary
student = {
    'first_name': 'Subha',
    'last_name': 'Saha',
    'gender': 'Male',
    'age': 22,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'INDIA',
    'city': 'Newtown',
    'address': 'PIN: 700160'
}

# II. Get the length of the student dictionary
length_student = len(student)
print("Length of student dictionary:", length_student)

# III. Get the value of skills and check the data type
skills = student['skills']
print("Skills:", skills)
print("Data type of skills:", type(skills))  # Should output

# IV. Modify the skills values by adding one or two skills
student['skills'].append('PLSQL')
student['skills'].append('C++')
print("Updated skills:", student['skills'])

# V. Get the dictionary keys as a list
keys = list(student.keys())
print("Dictionary keys:", keys)

# VI. Get the dictionary values as a list
values = list(student.values())
print("Dictionary values:", values)

# VII. Change the dictionary to a list of tuples using items() method
items = list(student.items())
print("Dictionary as list of tuples:", items)

# VIII. Delete one of the items in the dictionary
del student['marital_status']
print("Student dictionary after deleting 'marital_status':", student)

# IX. Delete the dictionary completely
del student
print("Student dictionary deleted.")

Length of student dictionary: 9
Skills: ['Python', 'Java']
Data type of skills: <class 'list'>
Updated skills: ['Python', 'Java', 'PLSQL', 'C++']
Dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary values: ['Subha', 'Saha', 'Male', 22, 'Single', ['Python', 'Java', 'PLSQL', 'C++'], 'INDIA', 'Newtown', 'PIN: 700160']
Dictionary as list of tuples: [('first_name', 'Subha'), ('last_name', 'Saha'), ('gender', 'Male'), ('age', 22), ('marital_status', 'Single'), ('skills', ['Python', 'Java', 'PLSQL', 'C++']), ('country', 'INDIA'), ('city', 'Newtown'), ('address', 'PIN: 700160')]
Student dictionary after deleting 'marital_status': {'first_name': 'Subha', 'last_name': 'Saha', 'gender': 'Male', 'age': 22, 'skills': ['Python', 'Java', 'PLSQL', 'C++'], 'country': 'INDIA', 'city': 'Newtown', 'address': 'PIN: 700160'}
Student dictionary deleted.

In [ ]:
#No.7 Create a person dictionary. person={ 'first_name': 'Asabeneh', 'last_name': 'Yetayeh', 'age': 250, 'country': 'Finland', 'is_marred': True,
# 'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'], 'address': { 'street': 'Space street', 'zipcode': '02210' } }
#I. Check if the person dictionary has skills key, if so print out the middle skill in the skills list.
#II. Check if the person dictionary has skills key, if so check if the person has 'Python' skill and print out the result.
#III. If a person skills has only JavaScript and React, print('He is a front end developer'),
#if the person skills has Node, Python, MongoDB, print('He is a backend developer'), if the person skills has React, Node and MongoDB,
# Print('He is a fullstack developer'), else print('unknown title') - for more accurate results more conditions can be nested!
#IV. If the person is married and if he lives in Finland, print the information in the following format:

#Asabeneh Yetayeh lives in Finland. He is married.
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}

# I. Check if the person dictionary has skills key, if so, print out the middle skill in the skills list
if 'skills' in person:
    skills = person['skills']
    middle_index = len(skills) // 2
    middle_skill = skills[middle_index]
    print("Middle skill:", middle_skill)

# II. Check if the person dictionary has skills key, if so, check if the person has 'Python' skill and print out the result
if 'skills' in person:
    has_python = 'Python' in person['skills']
    print("Has Python skill:", has_python)

    # III. Determine the person's title based on their skills
if 'JavaScript' in skills and 'React' in skills and len(skills) == 2:
    print('He is a front end developer')
elif 'Node' in skills and 'Python' in skills and 'MongoDB' in skills:
    print('He is a backend developer')
elif 'React' in skills and 'Node' in skills and 'MongoDB' in skills:
    print('He is a fullstack developer')
else:
    print('Unknown title')

# IV. If the person is married and lives in Finland, print the information
if person['is_marred'] and person['country'] == 'Finland':
    full_name = person['first_name'] + ' ' + person['last_name']
    print(f"{full_name} lives in Finland. He is married.")

Middle skill: Node
Has Python skill: True
He is a backend developer
Asabeneh Yetayeh lives in Finland. He is married.

In [ ]:
#No.8 Print the season name of the year based on the month number using a dictionary.
month_to_season = {
    1: 'Winter', 2: 'Winter', 3: 'Spring',
    4: 'Spring', 5: 'Spring', 6: 'Summer',
    7: 'Summer', 8: 'Summer', 9: 'Autumn',
    10: 'Autumn', 11: 'Autumn', 12: 'Winter'
}

def get_season(month):
    return month_to_season.get(month, 'Invalid month')

month_number = int(input("Enter the month number: "))
season = get_season(month_number)
print(f"The season for month {month_number} is {season}.")

Enter the month number: 3
The season for month 3 is Spring.

In [ ]:
#No.9 Write a python program to check whether a given matrix is sparse or not.
def is_sparse(matrix):
    total_elements = len(matrix) * len(matrix[0])
    zero_count = sum(row.count(0) for row in matrix)
    return zero_count > total_elements / 2

matrix = [
    [5, 8, 0],
    [0, 4, 0],
    [2, 0, 8]
]

print("The matrix is sparse:", is_sparse(matrix))

The matrix is sparse: False

In [ ]:
#No.10 Write a python program to count the prime numbers in an array.
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

def count_primes(arr):
    return sum(1 for x in arr if is_prime(x))

array = [2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Number of prime numbers:", count_primes(array))

Number of prime numbers: 4

In [ ]:
#No.11 Write a python program to find second highest element of an array.
def second_highest(arr):
    unique_arr = list(set(arr))
    unique_arr.sort()
    return unique_arr[-2] if len(unique_arr) > 1 else None

array = [10, 20, 4, 45, 99, 99]
print("Second highest element:", second_highest(array))

Second highest element: 45

In [ ]:
#No.12 Write a python program which counts the non-zero elements in an integer array.
def count_non_zero(arr):
    return sum(1 for x in arr if x != 0)

array = [0, 1, 2, 0, 3, 4, 0]
print("Number of non-zero elements:", count_non_zero(array))

Number of non-zero elements: 4

In [ ]:
#No.13 Write a python program to merge two float arrays.
def merge_arrays(arr1, arr2):
    return arr1 + arr2

array1 = [1.1, 2.2, 3.3]
array2 = [4.4, 5.5, 6.6]
print("Merged array:", merge_arrays(array1, array2))

Merged array: [1.1, 2.2, 3.3, 4.4, 5.5, 6.6]

In [ ]:
#No.14 Write a python program where elements of two integer arrays get added index wise and get stored into a third array.
def add_arrays(arr1, arr2):
    return [x + y for x, y in zip(arr1, arr2)]

a = [1, 2, 3]
b = [4, 5, 6]
print("Added array:", add_arrays(a, b))

Added array: [5, 7, 9]

In [ ]:
#No.15 Write a python program to multiply two matrices.
def get_matrix_input(rows, cols):
    matrix = []
    print(f"Enter the elements of the matrix ({rows}x{cols}):")
    for i in range(rows):
        row = list(map(int, input(f"Enter row {i + 1}: ").split()))
        matrix.append(row)
    return matrix

def multiply_matrices(A, B):
    result = [[0 for _ in range(len(B[0]))] for _ in range(len(A))]
    for i in range(len(A)):
        for j in range(len(B[0])):
            for k in range(len(B)):
                result[i][j] += A[i][k] * B[k][j]
    return result

rows_A = int(input("Enter the number of rows for matrix A: "))
cols_A = int(input("Enter the number of columns for matrix A : "))
rows_B = int(input("Enter the number of rows for matrix B: "))
cols_B = int(input("Enter the number of columns for matrix B: "))

print("Matrix A:")
A = get_matrix_input(rows_A, cols_A)
print("Matrix B:")
B = get_matrix_input(rows_B, cols_B)

if cols_A != rows_B:
    print("Matrices cannot be multiplied.")
else:
  result = multiply_matrices(A, B)


print("Product of matrices:")
for row in result:
    print(row)

Enter the number of rows for matrix A: 3
Enter the number of columns for matrix A : 3
Enter the number of rows for matrix B: 3
Enter the number of columns for matrix B: 3
Matrix A:
Enter the elements of the matrix (3x3):
Enter row 1: 1 3 5
Enter row 2: 2 7 4
Enter row 3: 8 5 6
Matrix B:
Enter the elements of the matrix (3x3):
Enter row 1: 4 7 1
Enter row 2: 9 4 5
Enter row 3: 3 8 6
Product of matrices:
[46, 59, 46]
[83, 74, 61]
[95, 124, 69]

In [ ]:
#No.16 Write a python program to find duplicate elements in a 1D array and find their frequency of occurrence.
from collections import Counter

def find_duplicates(arr):
    count = Counter(arr)
    return {k: v for k, v in count.items() if v > 1}

array = [1, 2, 3, 2, 3, 4, 5]
print("Duplicates and their frequencies:", find_duplicates(array))

Duplicates and their frequencies: {2: 2, 3: 2}

In [ ]:
#No.17 Write a python program to print every alternate number of a given array.
def print_alternate(arr):
    return arr[::2]

array = [1, 2, 3, 4, 5, 6]
print("Every alternate number:", print_alternate(array))

Every alternate number: [1, 3, 5]